<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit EJS</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <h1>Pokemon List Editor</h1>
    <!-- the index variable name here has to match the /:index name in the server -->
    <!-- here we are obtaining the index value from the url and placing it in the put method -->
    <form action="/pokemons/<%=pokemon.id%>?_method=PUT" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
		Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
		Img: <input type="text" name="img" value="<%=pokemon.img%>"/><br/>
      
		<input type="submit" name="" value="Submit Changes"/>
        </form>
</body>
</html>