<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Pokemon index page</h1>
   
        <ul class=pokemon>
            <%pokemons.forEach((name, id) => { %> 
             <li>
                
                <a href="/pokemons/<%=pokemons[id].id%>"><%=pokemons[id].name%></a>
                
                <!-- ADD DELETE FORM HERE -->
                
                <form action="/pokemons/<%=pokemons[id].id%>?_method=DELETE" method="POST"> 
                <input type="submit" value='delete'>
                </form>
                <!-- Add edit link here  -->
               
                <a href="/pokemons/<%=pokemons[id].id%>/edit">Edit</a>
            </li>
            <% }) %> 
        </ul>
    
</body>
</html>