body {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(166, 186, 199);
  }
  h1 {
    color: blueviolet; 
  }
  h2 {
    font-family: 'Play', sans-serif; 
    /* color: #fff; */
  }
  input {
    font-family: 'Play', sans-serif; 
    font-weight: bold;
    font-size: 130%;
    margin: 10px;
    cursor: pointer;
    
  }