<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1> Users Index</h1>
    <!-- href Must have the first forward slash to work -->
    <a href="/users/signup"> Sign up </a>
    <a href="/users/login"> Log In </a>
</body>
</html>